Flujo_NodeRed_Server.txt
[{"id":"b14cdd25.a06d2","type":"tab","label":"TFM_IOT","disabled":false,"info":""},{"id":"2030aaae.a31916","type":"comment","z":"b14cdd25.a06d2","name":"Conecctor The Things network","info":"Obtenemos los datos direcatmente del Gateway","x":130,"y":140,"wires":[]},{"id":"e8b83ba6.baffc8","type":"comment","z":"b14cdd25.a06d2","name":"ThinKP","info":"Insertamos datos en nuestro ThinKP","x":1710,"y":80,"wires":[]},{"id":"d497b432.b34998","type":"function","z":"b14cdd25.a06d2","name":"Carga","func":"var id = msg.topic\nmsg.topic = \"nodobonzo/Carga/\"+id\nif(!isNaN(msg.payload)){\nreturn msg;\n}","outputs":1,"noerr":0,"x":1090,"y":980,"wires":[["1cfa639e.a54d1c"]]},{"id":"a3936047.2c8c1","type":"function","z":"b14cdd25.a06d2","name":"Temperatura","func":"var id = msg.topic\nmsg.topic = \"nodobonzo/Temperatura/\"+id\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":800,"wires":[["1cfa639e.a54d1c"]]},{"id":"46450db3.26af94","type":"Input Split","z":"b14cdd25.a06d2","name":"","inputProps":["payload.data.temperatura","payload.data.humedad","payload.data.presion","payload.data.carga"],"outputs":4,"x":860,"y":580,"wires":[["a3936047.2c8c1"],["d61f2e60.21dbb"],["8eba5e7f.db1b"],["d497b432.b34998","c88b3163.c8426"]]},{"id":"8eba5e7f.db1b","type":"function","z":"b14cdd25.a06d2","name":"Presión","func":"var id = msg.topic\nmsg.topic = \"nodobonzo/Presion/\"+id\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":920,"wires":[["1cfa639e.a54d1c"]]},{"id":"57f653cb.bc9ccc","type":"comment","z":"b14cdd25.a06d2","name":"Convertimos los datos","info":"Almacenamos los datos en el Payload a una estructura entendible para poder tarbajar con ellos \ny almacenarlos en la BBDD","x":480,"y":140,"wires":[]},{"id":"76c1e612.053e08","type":"ttn uplink","z":"b14cdd25.a06d2","name":"","app":"49e6dd88.494c64","dev_id":"","field":"","x":80,"y":200,"wires":[["8f1f03f2.188ed","74706e8b.0472e"]]},{"id":"7cd0d7bd.545bc8","type":"comment","z":"b14cdd25.a06d2","name":"Almacenamiento Datos","info":"Alamacenamols los resultados en mongo","x":920,"y":260,"wires":[]},{"id":"e374e851.9bf618","type":"mongodb2 in","z":"b14cdd25.a06d2","service":"_ext_","configNode":"ca1f9cb6.64d78","name":"Colección datos","collection":"datos","operation":"insert","x":920,"y":300,"wires":[["b154330d.e1253"]]},{"id":"7f6a7047.1fe9","type":"sofia2-insert","z":"b14cdd25.a06d2","name":"","ontology":"FireDetector_Bonzo","server":"e0b8db35.8e77a8","check":true,"x":1690,"y":140,"wires":[["1c50ec19.29b794"]]},{"id":"1cfa639e.a54d1c","type":"mqtt out","z":"b14cdd25.a06d2","name":"Mqtt publish","topic":"","qos":"","retain":"","broker":"638747ad.52df58","x":1470,"y":880,"wires":[]},{"id":"1c50ec19.29b794","type":"debug","z":"b14cdd25.a06d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1850,"y":140,"wires":[]},{"id":"d670addc.1b8ce","type":"debug","z":"b14cdd25.a06d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":60,"wires":[]},{"id":"14d00987.af1b76","type":"function","z":"b14cdd25.a06d2","name":"Ontology_schema: FireDetector_Bonzo","func":"msg.topic = \"nodos/\" + msg.payload.deviceID;\n\nvar message = {\"NodoBonzo\":\n        {\"timestamp\":{\"$date\": msg.payload.timestamp}, \n        \"temperature\": msg.payload.data.temperatura, \n        \"humidity\": msg.payload.data.humedad, \n        \"pressure\": msg.payload.data.presion,\n        \"deviceId\": msg.payload.deviceID,\n        \"charge\" : msg.payload.data.carga\n        }\n    };\n\nmsg.payload = message;\nmsg.payload=JSON.stringify(msg.payload);\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1000,"y":140,"wires":[["630bbd11.7dabf4","37a7b22a.c6bb7e","7f6a7047.1fe9"]]},{"id":"e0696ce9.f0685","type":"comment","z":"b14cdd25.a06d2","name":"Publisher MQTT","info":"Publicamos los datos en topics MQTT","x":1460,"y":840,"wires":[]},{"id":"408f96fe.5ae298","type":"function","z":"b14cdd25.a06d2","name":"Buscar coordenadas","func":"var query = \n[\n    {\"$match\": \n    {\"Device_id\" : msg.dev_id}\n    },\n    {\"$project\":{\n        \"_id\" : 0 ,\n        \"Device_id\" : 1,\n        \"Latitud\": 1, \n        \"Longitud\": 1\n    }},\n    {}\n];\n\nmsg.topic = \"coordenadas\";\nmsg.payload = query;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":420,"wires":[["220eb1c9.7356de"]]},{"id":"37a7b22a.c6bb7e","type":"mqtt out","z":"b14cdd25.a06d2","name":"onesaitplatform","topic":"","qos":"","retain":"","broker":"638747ad.52df58","x":1400,"y":220,"wires":[]},{"id":"4d993aa8.d6ad84","type":"comment","z":"b14cdd25.a06d2","name":"Schema Onltología","info":"Adaptamos el flujo a nuestras ontologías de Sofia2","x":1010,"y":80,"wires":[]},{"id":"945595d2.b636b8","type":"function","z":"b14cdd25.a06d2","name":"10 % Batería","func":"var id = msg.topic\nmsg.topic = \"alarmas/bateria\" +id\npayload = \"El nivel de batería del nodo \"+id+ \" ha alcanzado el 10%\"\nmsg.payload = payload\nreturn msg","outputs":1,"noerr":0,"x":1270,"y":640,"wires":[["6dc3661b.e43168"]]},{"id":"c88b3163.c8426","type":"switch","z":"b14cdd25.a06d2","name":"Batería %","property":"payload","propertyType":"msg","rules":[{"t":"lte","vt":"str","v":"10"},{"t":"lte","vt":"str","v":"25"},{"t":"lte","vt":"str","v":"50"}],"checkall":"false","repair":false,"outputs":3,"x":1100,"y":680,"wires":[["945595d2.b636b8"],["2fe708db.c80b58"],["6c064bd2.7d5084"]]},{"id":"b154330d.e1253","type":"debug","z":"b14cdd25.a06d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":300,"wires":[]},{"id":"6dc3661b.e43168","type":"mqtt out","z":"b14cdd25.a06d2","name":"Mqtt publish","topic":"","qos":"","retain":"","broker":"638747ad.52df58","x":1530,"y":680,"wires":[]},{"id":"d61f2e60.21dbb","type":"function","z":"b14cdd25.a06d2","name":"Humedad","func":"var id = msg.topic\nmsg.topic = \"nodobonzo/Humedad/\"+id\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":860,"wires":[["1cfa639e.a54d1c"]]},{"id":"2fe708db.c80b58","type":"function","z":"b14cdd25.a06d2","name":"25 % Batería","func":"var id = msg.topic\nmsg.topic = \"alarmas/bateria\" +id\npayload = \"El nivel de batería del nodo \"+id+ \" ha alcanzado el 25%\"\nmsg.payload = payload\nreturn msg","outputs":1,"noerr":0,"x":1270,"y":680,"wires":[["6dc3661b.e43168"]]},{"id":"6c064bd2.7d5084","type":"function","z":"b14cdd25.a06d2","name":"50 % Batería","func":"var id = msg.topic\nmsg.topic = \"alarmas/bateria\" +id\npayload = \"El nivel de batería del nodo \"+id+ \" ha alcanzado el 50%\"\nmsg.payload = payload\nreturn msg","outputs":1,"noerr":0,"x":1270,"y":720,"wires":[["6dc3661b.e43168"]]},{"id":"8f1f03f2.188ed","type":"function","z":"b14cdd25.a06d2","name":"ETL (nodo Bonzo)","func":"var devID = msg.dev_id;\nvar serial = msg.hardware_serial;\nvar Temp = msg.payload.temperature_2;\nvar Hum = msg.payload.relative_humidity_4;\nvar Fire;\nvar Bar =  msg.payload.barometric_pressure_3;\nvar hours = msg.payload.digital_in_5;\nvar minutes = msg.payload.digital_in_6;\nvar seconds = msg.payload.digital_in_7;\nvar carga = map(msg.payload.analog_in_8,0,3.5,0,100);\nvar date = new Date(msg.metadata.time);\nvar gateways = msg.metadata.gateways;\nvar counter = msg.counter;\nvar port = msg.port;\nvar Fire = msg.payload.digital_in_1;\n\npayload = { \n            deviceID: devID,\n            serial: msg.hardware_serial,\n            timestamp: date,\n            uts: date.valueOf(),\n            day: date.getDate(),\n            month: date.getMonth() + 1,\n            year: date.getFullYear(),\n             rtc : {\n            hours: hours,\n            minutes: minutes,\n            seconds: seconds\n             },\n            counter : counter,\n            port : port,\n            gateways: gateways,\n            data:{\n            temperatura: Temp,\n            humedad: Hum,\n            presion: Bar,\n            carga: carga,\n            fuego : Fire\n            }\n};\n     \nnewMsg = { payload: payload };\nnewMsg.topic = devID;\n\nfunction map(x, in_min, in_max, out_min, out_max) {\n  return (x - in_min) * (out_max - out_min) / (in_max - in_min) + out_min;\n}\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["46450db3.26af94","e374e851.9bf618","14d00987.af1b76","d670addc.1b8ce"]]},{"id":"630bbd11.7dabf4","type":"debug","z":"b14cdd25.a06d2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1190,"y":240,"wires":[]},{"id":"c5a91a8a.c2ef98","type":"e-mail","z":"b14cdd25.a06d2","server":"smtp.live.com","port":"25","secure":false,"name":"tfmiot.uah@gmail.com","dname":"Envio Alerta FUEGO!!!","x":500,"y":700,"wires":[]},{"id":"2eb258f1.5f64a8","type":"function","z":"b14cdd25.a06d2","name":"topic: alarmas/fuego/{id}","func":"var id = msg.dev_id\nmsg.topic = \"alarmas/fuego/\"+id\nmsg.payload = \"Fuego en \" + msg.dev_id + \"!\"\nreturn msg","outputs":1,"noerr":0,"x":170,"y":500,"wires":[["2c9ea506.2a7baa"]]},{"id":"2c9ea506.2a7baa","type":"mqtt out","z":"b14cdd25.a06d2","name":"Mqtt publish","topic":"","qos":"","retain":"","broker":"638747ad.52df58","x":130,"y":600,"wires":[]},{"id":"74706e8b.0472e","type":"switch","z":"b14cdd25.a06d2","name":"fuego","property":"payload.digital_in_1","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":150,"y":420,"wires":[["2eb258f1.5f64a8","408f96fe.5ae298"]]},{"id":"220eb1c9.7356de","type":"mongodb2 in","z":"b14cdd25.a06d2","service":"_ext_","configNode":"ca1f9cb6.64d78","name":"Colección configuraciones","collection":"configuraciones","operation":"aggregate.forEach","x":500,"y":520,"wires":[["53cac9b7.4b4348"]]},{"id":"53cac9b7.4b4348","type":"function","z":"b14cdd25.a06d2","name":"Formatar mail","func":"var id = msg.payload.Device_id\nmsg.topic = \"Alerta de fuego!!\"\nmsg.payload = \"Se ha detectado fuego en el nodo \" + id +\"\\n\\n Latitud: \"+ msg.payload.Latitud+ \"\\n Longitud: \"+ msg.payload.Longitud\nreturn msg","outputs":1,"noerr":0,"x":500,"y":600,"wires":[["c5a91a8a.c2ef98"]]},{"id":"49e6dd88.494c64","type":"ttn app","z":"","appId":"nodobonzo_tfmiot","accessKey":"ttn-account-v2.jNjJEPbSgjRPN44p3_B0SXNiuxXTCuW0Ob05fnYc6IY","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"ca1f9cb6.64d78","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/awsdb","name":"","options":"","parallelism":"-1"},{"id":"e0b8db35.8e77a8","type":"sofia2-config","z":"","protocol":"REST","kp":"FireDetector_ThinKP","instance":"NodoBonzo","token":"89ee4f87a5994defb7afbf4f0e2ee96d","renovation":"1","ip":"","port":"","endpoint":"http://sofia2.com:8080"},{"id":"638747ad.52df58","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]